html,body {
    background: rgba(30, 30, 30, 1);
    color: white;
    font-family: 'Helvetica';
    font-size: 15;
}

h1 {
    margin: 20px 20px 20px 20px;
    text-align: center;
}
a {
    text-align: center;
    color: white;
}